<%# <h1>Trees#index</h1>
<p>Find me in app/views/trees/index.html.erb</p> %>

<div class="container">
  <h1 class="mt-5 mb-4">Trees in Winnipeg</h1>
  <style>
    .custom-link {
      color: black;
    }
  </style>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">Botanical Name</th>
            <th class="col-md-4">Common Name</th>
            <th class="col-md-4">Location Class</th>
          </tr>
        </thead>
        <tbody>
          <% @trees.each do |tree| %>
            <tr>
              <td class="col-md-4"><%= link_to tree.botanical_name, tree_path(tree), class: "custom-link" %></td>
              <td class="col-md-4"><%= tree.common_name %></td>
              <td class="col-md-4"><%= tree.location_class %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%# Pagination links with preserved search parameters %>
        <%# Pagination links with preserved search parameters %>
        <nav aria-label="Page navigation example" class="Page">
            <ul class="pagination justify-content-center">
                <%# Loop through the paginated pages in the current viewable range %>
                <% (1..[@trees.total_pages, 7].min).each do |page| %>
                <%# Build the URL for each page with preserved search parameters %>
                <% url = trees_path(page: page, search: params[:search]) %>
                <li class="page-item <%= 'active' if page == @trees.current_page %>">
                    <%= link_to page, url, class: "page-link" %>
                </li>
                <% end %>
            </ul>
        </nav>


    </div>
  </div>
</div>
