<%# <h1>Trees#show</h1>
<p>Find me in app/views/trees/show.html.erb</p> %>


<div class="container">
  <h1>Tree Details</h1>
  <p><strong>Botanical Name:</strong> <%= @tree.botanical_name %></p>
  <p><strong>Common Name:</strong> <%= @tree.common_name %></p>
  <p><strong>Diameter at Breast Height:</strong> <%= @tree.diameter_at_breast_height %></p>
  <p><strong>Location Class:</strong> <%= @tree.location_class %></p>
  <% if @tree.location_class == 'Park' %>
    <p><strong>Park:</strong> <%= link_to @tree.park.park_name, park_path(@tree.park) %></p>
  <% end %>
  <p><strong>Neighbourhood:</strong> <%= @tree.neighbourhood.neighbourhood_name %></p>
  
  <%= link_to "Back", :back , class: "btn btn-primary" %>
</div>